1.1.0/GML_schema/S129_1_1_1_RM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iho.int/S129/1.1"
           xmlns:S100="http://www.iho.int/s100gml/5.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.iho.int/S129/1.1"
           elementFormDefault="qualified"
           version="1.1.1-20240417">
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/S100_gmlProfile.xsd"/>
   <xs:import namespace="http://www.iho.int/s100gml/5.0"
              schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/s100gmlbase.xsd"/>
   <!--    =============================================================================================
    Copyright, license, and disclaimer
    © Copyright 2022-2024 International Hydrographic Organization (IHO)
    
    License
    Certain parts of this document refer to or are based on the standards, documents, schemas, or other material
    of the International Organization for Standardization (ISO), Open Geospatial Consortium (OGC), International
    Hydrographic Organization / Organisation Hydrographique Internationale (IHO/OHI).
    The ISO material can be obtained from any ISO member and from the Web site of the ISO Central Secretariat
    at www.iso.org.
    The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
    The IHO material can be obtained from the IHO Web site at www.iho.int or from the International Hydrographic
    Organization Secretariat.
    
    Permission to copy and distribute this document is hereby granted provided that this notice is retained
    on all copies, and that IHO & the contributors are credited when the material is redistributed or used in
    part or whole in derivative works.
    Redistributions in binary form must reproduce this notice in the documentation and/or other materials
    provided with the distribution.
    
    Disclaimer
    This work is provided by the copyright holders and contributors "as is" and any express or implied warranties,
    including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose
    are disclaimed. In no event shall the copyright owner or contributors be liable for any direct, indirect,
    incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute
    goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of
    liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way
    out of the use of this software, even if advised of the possibility of such damage.
    ============================================================================================= -->
   <!-- XML FC file name S-129_1_1_0_FC.XML -->
   <!-- name: Feature Catalogue for S-129 -->
   <!-- scope: Dynamic under keel clearance management information -->
   <!-- fieldOfApplication: Under keel clearance management -->
   <!-- versionNumber: 1.1.0 -->
   <!-- versionDate: 2023-11-02 -->
   <!-- productId: S-129 -->
   <!-- producer: editor KMOU 727 Taejong-ro, Yeongdo-Gu, Busan 49112 South Korea sjlee@kmou.ac.kr www.kmou.ac.kr -->
   <!-- Schema generated 2024:04:18T01:11:03-07:00 by Raphael Malyankar from catalogue file S-129_1_1_0_FC.XML -->

   <!-- Not used in S-129 1.1 - no S100 codelist type in FC -->
   <!--
   <xs:simpleType name="codelistTypeType">
      <xs:annotation>
         <xs:documentation>An S-100 codelist.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="openEnumeration">
            <xs:annotation>
               <xs:documentation>Open enumeration</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="openDictionary">
            <xs:annotation>
               <xs:documentation>Open dictionary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="closedDictionary">
            <xs:annotation>
               <xs:documentation>Closed Dictionary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="extraLabelType">
      <xs:annotation>
         <xs:documentation>Label type for labels of extra values in open enumeration codelists. Accepts any non-empty string beginning with an alphanumeric character and not ending in whitespace. Introduced for the new S-100 5.0 GML encoding.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([a-zA-Z0-9]|[a-zA-Z0-9].*\S)"/>
      </xs:restriction>
   </xs:simpleType>
   -->
   <xs:simpleType name="scaleMinimumType">
      <xs:annotation>
         <xs:documentation>The minimum scale at which the object may be used, e.g., for ECDIS presentation.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="generationTimeType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="vesselIDType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="sourceRouteNameType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="sourceRouteVersionType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="maximumDraughtType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="nameType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="expectedPassingTimeType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="expectedPassingSpeedType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="timeStartType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="timeEndType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="distanceAboveUKCLimitType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:complexType name="underKeelClearancePurposeType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="underKeelClearancePurposeLabel">
            <xs:attribute name="code" type="underKeelClearancePurposeCode" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="underKeelClearancePurposeLabel">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="prePlan">
            <xs:annotation>
               <xs:documentation>1: (definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="actualPlan">
            <xs:annotation>
               <xs:documentation>2: (definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="actualUpdate">
            <xs:annotation>
               <xs:documentation>3: (definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="underKeelClearancePurposeCode">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="UnderKeelClearancePlan_underKeelClearancePurposeType">
      <xs:annotation>
         <xs:documentation>Restricted values of underKeelClearancePurpose in UnderKeelClearancePlan</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="UnderKeelClearancePlan_underKeelClearancePurposeLabel">
            <xs:attribute name="code"
                          type="UnderKeelClearancePlan_underKeelClearancePurposeCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearancePurposeLabel">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearancePurpose</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="prePlan"/>
         <xs:enumeration value="actualPlan"/>
         <xs:enumeration value="actualUpdate"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearancePurposeCode">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearancePurpose</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="underKeelClearanceCalculationRequestedType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="underKeelClearanceCalculationRequestedLabel">
            <xs:attribute name="code"
                          type="underKeelClearanceCalculationRequestedCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="underKeelClearanceCalculationRequestedLabel">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="timeWindow">
            <xs:annotation>
               <xs:documentation>1: (definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="maxDraught">
            <xs:annotation>
               <xs:documentation>2: (definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="underKeelClearanceCalculationRequestedCode">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedType">
      <xs:annotation>
         <xs:documentation>Restricted values of underKeelClearanceCalculationRequested in UnderKeelClearancePlan</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedLabel">
            <xs:attribute name="code"
                          type="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedLabel">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearanceCalculationRequested</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="timeWindow"/>
         <xs:enumeration value="maxDraught"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedCode">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearanceCalculationRequested</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>(definition not in XML FC)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="fixedTimeRangeType">
      <xs:annotation>
         <xs:documentation>(definition not in XML FC)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="timeStart"
                     type="timeStartType"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="timeEnd" type="timeEndType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearancePlanType" abstract="false">
      <xs:annotation>
         <xs:documentation>This feature is MetaFeature of UKCM information</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="fixedTimeRange"
                           type="fixedTimeRangeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="generationTime"
                           type="generationTimeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="vesselID" type="vesselIDType" minOccurs="0" maxOccurs="1"/>
               <xs:element name="sourceRouteName"
                           type="sourceRouteNameType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="sourceRouteVersion"
                           type="sourceRouteVersionType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="maximumDraught"
                           type="maximumDraughtType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="underKeelClearancePurpose"
                           type="UnderKeelClearancePlan_underKeelClearancePurposeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="underKeelClearanceCalculationRequested"
                           type="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceNonNavigableAreaType" abstract="false">
      <xs:annotation>
         <xs:documentation>Non Navigation Area</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="scaleMinimum"
                           type="scaleMinimumType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceAlmostNonNavigableAreaType" abstract="false">
      <xs:annotation>
         <xs:documentation>Almost Non Navigable Area</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="scaleMinimum"
                           type="scaleMinimumType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="distanceAboveUKCLimit"
                           type="distanceAboveUKCLimitType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceControlPointType" abstract="false">
      <xs:annotation>
         <xs:documentation>UnderKeelClearance ControlPoint</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="name" type="nameType" minOccurs="0" maxOccurs="1"/>
               <xs:element name="expectedPassingTime"
                           type="expectedPassingTimeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="expectedPassingSpeed"
                           type="expectedPassingSpeedType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="distanceAboveUKCLimit"
                           type="distanceAboveUKCLimitType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="fixedTimeRange"
                           type="fixedTimeRangeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:pointProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="UnderKeelClearancePlan" type="UnderKeelClearancePlanType"/>
   <xs:element name="UnderKeelClearanceNonNavigableArea"
               type="UnderKeelClearanceNonNavigableAreaType"/>
   <xs:element name="UnderKeelClearanceAlmostNonNavigableArea"
               type="UnderKeelClearanceAlmostNonNavigableAreaType"/>
   <xs:element name="UnderKeelClearanceControlPoint"
               type="UnderKeelClearanceControlPointType"/>
   <xs:group name="MemberObjects">
      <xs:annotation>
         <xs:documentation>group of informtion, feature and meta objects, all GML members</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="UnderKeelClearancePlan"/>
         <xs:element ref="UnderKeelClearanceNonNavigableArea"/>
         <xs:element ref="UnderKeelClearanceAlmostNonNavigableArea"/>
         <xs:element ref="UnderKeelClearanceControlPoint"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="ThisDatasetType">
      <xs:complexContent>
         <xs:extension base="S100:DatasetType">
            <xs:sequence>
               <xs:element name="members">
                  <xs:complexType>
                     <xs:complexContent>
                        <xs:extension base="gml:AbstractFeatureMemberType">
                           <xs:sequence>
                              <xs:group ref="MemberObjects" minOccurs="0" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:extension>
                     </xs:complexContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Dataset" type="ThisDatasetType"/>
</xs:schema>
