1.4.0/GML_schema/S129_1_4_0_20240928.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.iho.int/S129/1.3"
           xmlns:S100="http://www.iho.int/s100gml/5.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.iho.int/S129/1.3"
           elementFormDefault="qualified"
           version="1.3.0-20240912">
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/S100_gmlProfile.xsd"/>
   <xs:import namespace="http://www.iho.int/s100gml/5.0"
              schemaLocation="https://schemas.s100dev.net/schemas/S100/5.0.0/S100GML/20220620/s100gmlbase.xsd"/>
   <!--    =============================================================================================
    Copyright, license, and disclaimer
    © Copyright 2022-2024 International Hydrographic Organization (IHO)
    
    License
    Certain parts of this document refer to or are based on the standards, documents, schemas, or other material
    of the International Organization for Standardization (ISO), Open Geospatial Consortium (OGC), International
    Hydrographic Organization / Organisation Hydrographique Internationale (IHO/OHI).
    The ISO material can be obtained from any ISO member and from the Web site of the ISO Central Secretariat
    at www.iso.org.
    The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
    The IHO material can be obtained from the IHO Web site at www.iho.int or from the International Hydrographic
    Organization Secretariat.
    
    Permission to copy and distribute this document is hereby granted provided that this notice is retained
    on all copies, and that IHO & the contributors are credited when the material is redistributed or used in
    part or whole in derivative works.
    Redistributions in binary form must reproduce this notice in the documentation and/or other materials
    provided with the distribution.
    
    Disclaimer
    This work is provided by the copyright holders and contributors "as is" and any express or implied warranties,
    including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose
    are disclaimed. In no event shall the copyright owner or contributors be liable for any direct, indirect,
    incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute
    goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of
    liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way
    out of the use of this software, even if advised of the possibility of such damage.
    ============================================================================================= -->
   <!-- XML FC file name S-129_1_3_0_FC.XML -->
   <!-- name: Feature Catalogue for S-129 -->
   <!-- scope: Dynamic under keel clearance management information -->
   <!-- fieldOfApplication: Under keel clearance management -->
   <!-- versionNumber: 1.3.0 -->
   <!-- versionDate: 2024-09-26 -->
   <!-- productId: S-129 -->
   <!-- producer: editor KMOU 727 Taejong-ro, Yeongdo-Gu, Busan 49112 South Korea sjlee@kmou.ac.kr www.kmou.ac.kr -->
   <!-- Schema updated 2024:09:26T02:07:40 by Jason Rhee based on:
         1. Catalogue file S-129_FC_1.3.0_20240826.XML, using
         2. Previous Edition 1.1.0 GML schema file by Raphael Malyankar (S129_1_1_1_RM.xsd) as baseline 
         Changes reflect the following:
         a. Addition of "UnderKeelClearancePlanArea" feature
         b. Use of complex attribute "featureName" in place of simple attribute "name" in "UnderKeelClearanceControlPoint"
         c. Inclusion of "featureName" sub-attributes
         d. Inclusion of "interoperabilityIdentifier" as optional attribute in all features -->

   <!-- Not used in S-129 1.1 - no S100 codelist type in FC -->
   <!--
   <xs:simpleType name="codelistTypeType">
      <xs:annotation>
         <xs:documentation>An S-100 codelist.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="openEnumeration">
            <xs:annotation>
               <xs:documentation>Open enumeration</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="openDictionary">
            <xs:annotation>
               <xs:documentation>Open dictionary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="closedDictionary">
            <xs:annotation>
               <xs:documentation>Closed Dictionary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="extraLabelType">
      <xs:annotation>
         <xs:documentation>Label type for labels of extra values in open enumeration codelists. Accepts any non-empty string beginning with an alphanumeric character and not ending in whitespace. Introduced for the new S-100 5.0 GML encoding.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="([a-zA-Z0-9]|[a-zA-Z0-9].*\S)"/>
      </xs:restriction>
   </xs:simpleType>
   -->
   <xs:simpleType name="scaleMinimumType">
      <xs:annotation>
         <xs:documentation>The minimum scale at which the object may be used, e.g., for ECDIS presentation.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="generationTimeType">
      <xs:annotation>
         <xs:documentation>Time the UKC plan was generated.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="vesselIDType">
      <xs:annotation>
         <xs:documentation>Vessel identifier, based on MRN. Can be either IMO or MMSI based.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="sourceRouteNameType">
      <xs:annotation>
         <xs:documentation>Identification of the route used as a source for the calculation.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="sourceRouteVersionType">
      <xs:annotation>
         <xs:documentation>Identification of the route used as a source for the calculation.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="maximumDraughtType">
      <xs:annotation>
         <xs:documentation>The maximum vessel draught in metres, used as base for the calculation.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="languageType">
      <xs:annotation>
         <xs:documentation>The method of human communication, either spoken or written, consisting of the use of words in a structured and conventional way.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>   
   <xs:simpleType name="nameType">
      <xs:annotation>
         <xs:documentation>The individual name of a feature.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="expectedPassingTimeType">
      <xs:annotation>
         <xs:documentation>The expected passing time for a ship for a nominated Under Keel Clearance Control Point.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="expectedPassingSpeedType">
      <xs:annotation>
         <xs:documentation>The expected passing speed for a ship for a nominated Under Keel Clearance Control Point.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="timeStartType">
      <xs:annotation>
         <xs:documentation>The start time of an active period.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="timeEndType">
      <xs:annotation>
         <xs:documentation>The end time of an active period.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:dateTime"/>
   </xs:simpleType>
   <xs:simpleType name="distanceAboveUKCLimitType">
      <xs:annotation>
         <xs:documentation>The distance of the lowest part of the ship's keel above the established Under Keel Clearance Limit for the waterway, expressed in metres.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:decimal"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="interoperabilityIdentifierType">
      <xs:annotation>
         <xs:documentation>A common unique identifier for entities which describe a single real-world feature, and which is used to identify instances of the feature in end-user systems where the feature may be included in multiple data product types.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:anyURI"><!--No constraints--></xs:restriction>
   </xs:simpleType>
   <xs:complexType name="nameUsageType">
      <xs:annotation>
         <xs:documentation>Classification of the type and display level of the name of a feature in an end-use system.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="nameUsageLabel">
            <xs:attribute name="code"
                          type="nameUsageCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="nameUsageLabel">
      <xs:annotation>
         <xs:documentation>Classification of the type and display level of the name of a feature in an end-use system.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Default Name Display">
            <xs:annotation>
               <xs:documentation>1: defaultNameDisplay</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Alternate Name Display">
            <xs:annotation>
               <xs:documentation>2: alternateNameDisplay</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="nameUsageCode">
      <xs:annotation>
         <xs:documentation>Classification of the type and display level of the name of a feature in an end-use system.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>The name is intended to be displayed when the end-user system is set to the default name/text display setting.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>The name is intended to be displayed when the end-user system is set to an alternate name/text display setting, for example an alternate language.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="featureName_nameUsageType">
      <xs:annotation>
         <xs:documentation>Restricted values of nameUsage in featureName</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="featureName_nameUsageLabel">
            <xs:attribute name="code"
                          type="featureName_nameUsageCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="featureName_nameUsageLabel">
      <xs:annotation>
         <xs:documentation>Custom enum: featureName/nameUsage</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Default Name Display"/>
         <xs:enumeration value="Alternate Name Display"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="featureName_nameUsageCode">
      <xs:annotation>
         <xs:documentation>Custom enum: featureName/nameUsage</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>The name is intended to be displayed when the end-user system is set to the default name/text display setting.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>The name is intended to be displayed when the end-user system is set to an alternate name/text display setting, for example an alternate language.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="underKeelClearancePurposeType">
      <xs:annotation>
         <xs:documentation>The relevant phase of a UKC passage plan.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="underKeelClearancePurposeLabel">
            <xs:attribute name="code" type="underKeelClearancePurposeCode" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="underKeelClearancePurposeLabel">
      <xs:annotation>
         <xs:documentation>The relevant phase of a UKC passage plan.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Pre Plan">
            <xs:annotation>
               <xs:documentation>1: prePlan</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Actual Plan">
            <xs:annotation>
               <xs:documentation>2: actualPlan</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Actual Update">
            <xs:annotation>
               <xs:documentation>3: actualUpdate</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="underKeelClearancePurposeCode">
      <xs:annotation>
         <xs:documentation>The relevant phase of a UKC passage plan.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>An indicative UKC plan that identifies potential sailing windows for a nominated vessel draught; days, weeks or months prior to the planned passage through the UKCM region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>A detailed Under Keel Clearance plan that identifies sailing windows and no-go areas, integrating live weather data, hours or days prior to transiting the Under Keel Clearance Management region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:documentation>A near real-time, detailed, Under Keel Clearance plan that identifies sailing windows and no-go areas, using live weather, vessel position and traffic data, while the vessel is transiting the Under Keel Clearance Management region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="UnderKeelClearancePlan_underKeelClearancePurposeType">
      <xs:annotation>
         <xs:documentation>Restricted values of underKeelClearancePurpose in UnderKeelClearancePlan</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="UnderKeelClearancePlan_underKeelClearancePurposeLabel">
            <xs:attribute name="code"
                          type="UnderKeelClearancePlan_underKeelClearancePurposeCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearancePurposeLabel">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearancePurpose</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Pre Plan"/>
         <xs:enumeration value="Actual Plan"/>
         <xs:enumeration value="Actual Update"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearancePurposeCode">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearancePurpose</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>An indicative UKC plan that identifies potential sailing windows for a nominated vessel draught; days, weeks or months prior to the planned passage through the UKCM region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>A detailed Under Keel Clearance plan that identifies sailing windows and no-go areas, integrating live weather data, hours or days prior to transiting the Under Keel Clearance Management region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:documentation>A near real-time, detailed, Under Keel Clearance plan that identifies sailing windows and no-go areas, using live weather, vessel position and traffic data, while the vessel is transiting the Under Keel Clearance Management region.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="underKeelClearanceCalculationRequestedType">
      <xs:annotation>
         <xs:documentation>Indication of the aim of the UKC plan: To find the maximum safe vessel draught for transiting the UKCM region, or to find sailing windows for a nominated vessel draught.</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="underKeelClearanceCalculationRequestedLabel">
            <xs:attribute name="code"
                          type="underKeelClearanceCalculationRequestedCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="underKeelClearanceCalculationRequestedLabel">
      <xs:annotation>
         <xs:documentation>Indication of the aim of the UKC plan: To find the maximum safe vessel draught for transiting the UKCM region, or to find sailing windows for a nominated vessel draught.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Time Window">
            <xs:annotation>
               <xs:documentation>1: timeWindow</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Maximum Draught">
            <xs:annotation>
               <xs:documentation>2: maxDraught</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="underKeelClearanceCalculationRequestedCode">
      <xs:annotation>
         <xs:documentation>Indication of the aim of the UKC plan: To find the maximum safe vessel draught for transiting the UKCM region, or to find sailing windows for a nominated vessel draught.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>The available time window(s) for a given draught</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>The maximum draught for a given time window.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedType">
      <xs:annotation>
         <xs:documentation>Restricted values of underKeelClearanceCalculationRequested in UnderKeelClearancePlan</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedLabel">
            <xs:attribute name="code"
                          type="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedCode"
                          use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedLabel">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearanceCalculationRequested</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Time Window"/>
         <xs:enumeration value="Maximum Draught"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedCode">
      <xs:annotation>
         <xs:documentation>Custom enum: UnderKeelClearancePlan/underKeelClearanceCalculationRequested</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:integer">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:documentation>The available time window(s) for a given draught.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:documentation>The maximum draught for a given time window.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="fixedTimeRangeType">
      <xs:annotation>
         <xs:documentation>Time interval.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="timeStart"
                     type="timeStartType"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="timeEnd" type="timeEndType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="featureNameType">
      <xs:annotation>
         <xs:documentation>Provides the name of an entity, defines the national language of the name, and provides the option to display the name at various system display settings.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="language"
                     type="languageType"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="name"
                     type="nameType"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="nameUsage"
                     type="nameUsageType"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearancePlanType" abstract="false">
      <xs:annotation>
         <xs:documentation>A UKC plan calculated for a particular vessel, for a particular passage.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="fixedTimeRange"
                           type="fixedTimeRangeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="generationTime"
                           type="generationTimeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="vesselID" type="vesselIDType" minOccurs="0" maxOccurs="1"/>
               <xs:element name="sourceRouteName"
                           type="sourceRouteNameType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="sourceRouteVersion"
                           type="sourceRouteVersionType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="maximumDraught"
                           type="maximumDraughtType"
                           minOccurs="0"
                           maxOccurs="1"/>
                           <xs:element name="interoperabilityIdentifier"
                           type="interoperabilityIdentifierType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="underKeelClearancePurpose"
                           type="UnderKeelClearancePlan_underKeelClearancePurposeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="underKeelClearanceCalculationRequested"
                           type="UnderKeelClearancePlan_underKeelClearanceCalculationRequestedType"
                           minOccurs="0"
                           maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearancePlanAreaType" abstract="false">
      <xs:annotation>
         <xs:documentation>The area for which an under keel clearance plan has been calculated for a particular vessel, for a particular passage.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="scaleMinimum"
                           type="scaleMinimumType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="interoperabilityIdentifier"
                           type="interoperabilityIdentifierType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceNonNavigableAreaType" abstract="false">
      <xs:annotation>
         <xs:documentation>Non Navigation Area</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="scaleMinimum"
                           type="scaleMinimumType"
                           minOccurs="0"
                           maxOccurs="1"/>
                           <xs:element name="interoperabilityIdentifier"
                           type="interoperabilityIdentifierType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceAlmostNonNavigableAreaType" abstract="false">
      <xs:annotation>
         <xs:documentation>Almost Non Navigable Area</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="scaleMinimum"
                           type="scaleMinimumType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="distanceAboveUKCLimit"
                           type="distanceAboveUKCLimitType"
                           minOccurs="0"
                           maxOccurs="1"/>
                           <xs:element name="interoperabilityIdentifier"
                           type="interoperabilityIdentifierType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:surfaceProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UnderKeelClearanceControlPointType" abstract="false">
      <xs:annotation>
         <xs:documentation>UnderKeelClearance ControlPoint</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="S100:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="featureName"
                           type="featureNameType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="expectedPassingTime"
                           type="expectedPassingTimeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="expectedPassingSpeed"
                           type="expectedPassingSpeedType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="distanceAboveUKCLimit"
                           type="distanceAboveUKCLimitType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="interoperabilityIdentifier"
                           type="interoperabilityIdentifierType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="fixedTimeRange"
                           type="fixedTimeRangeType"
                           minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="geometry" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice>
                        <xs:element ref="S100:pointProperty"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="UnderKeelClearancePlan" type="UnderKeelClearancePlanType"/>
   <xs:element name="UnderKeelClearancePlanArea" type="UnderKeelClearancePlanAreaType"/>
   <xs:element name="UnderKeelClearanceNonNavigableArea"
               type="UnderKeelClearanceNonNavigableAreaType"/>
   <xs:element name="UnderKeelClearanceAlmostNonNavigableArea"
               type="UnderKeelClearanceAlmostNonNavigableAreaType"/>
   <xs:element name="UnderKeelClearanceControlPoint"
               type="UnderKeelClearanceControlPointType"/>
   <xs:group name="MemberObjects">
      <xs:annotation>
         <xs:documentation>group of informtion, feature and meta objects, all GML members</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="UnderKeelClearancePlan"/>
         <xs:element ref="UnderKeelClearancePlanArea"/>
         <xs:element ref="UnderKeelClearanceNonNavigableArea"/>
         <xs:element ref="UnderKeelClearanceAlmostNonNavigableArea"/>
         <xs:element ref="UnderKeelClearanceControlPoint"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="ThisDatasetType">
      <xs:complexContent>
         <xs:extension base="S100:DatasetType">
            <xs:sequence>
               <xs:element name="members">
                  <xs:complexType>
                     <xs:complexContent>
                        <xs:extension base="gml:AbstractFeatureMemberType">
                           <xs:sequence>
                              <xs:group ref="MemberObjects" minOccurs="0" maxOccurs="unbounded"/>
                           </xs:sequence>
                        </xs:extension>
                     </xs:complexContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Dataset" type="ThisDatasetType"/>
</xs:schema>
